html{
  height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

#file-input-div {
	position:fixed;
  top: 50%;
  left: 50%;
  margin-left: -10em;
  margin-top: -4em;
  padding: 1em;
}

#toolbox {
  position:fixed; 
  bottom:0; 
  width:600px; 
  padding: 10px; 
  background:rgba(255,255,255,0.8);
  display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}