html{
  height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

#file-input-div {
  background-color: #F8F8F8;
	position:fixed;
  top: 50%;
  left: 50%;
  margin-left: -23em;
  margin-top: -15em;
  padding: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow:  0px 8px 16px #CCCCCC;
}

#file-input-div  tbody td {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25em;
}

#creator-navbar{
  box-shadow:  0px 0px 20px #888888;
}

#file-input-div form {
  margin: 15px;
}

#toolbox {
  position:fixed; 
  bottom:0;
  padding: 10px; 
  background:rgba(255,255,255,0.8);
  /*display: none;*/
}

.btn-primary{
  background-color: #008844;
  border-color: #006633;
}

.btn-primary:hover{
  background-color: #006633;
  border-color: #004422;
}

.btn-primary:focus{
  background-color: #006633;
  border-color: #004422;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}