html{
  height: 100%;
}

body {
  min-height: 100%;
  margin-top: 10%;
  overflow: hidden;
  background-color: #008888;
  text-align: center;
}

#file-input-div {
  color: #FFFFFF;
  display: inline-block;
  margin: auto;
}

#overview {
  color: #FFFFFF;
  display: inline-block;
  margin: auto;
}

#overview  tbody td {
  margin: 0 auto;
}

#file-input-div  tbody td {
  margin: 0 auto;
}

#creator-navbar{
  box-shadow:  0px 0px 20px #888888;
}

#file-input-div form {
  margin: 15px;
}

#file-input-div h1 {
  font-size: 80px;
}

.btn-primary{
  background-color: #008888;
  border-color: #FFFFFF;
  border-width: 2px;
  color: #FFFFFF;
  font-weight: bold;
}

.btn-primary:hover{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 2px;
  color: #008888;
}

.btn-primary:focus{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 2px;
  color: #008888;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}